@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.flag-dropdown {
border-radius: 12px !important;
width: 50px !important;
padding: 6px !important;
background-color: #ffffff !important;
}

.react-tel-input .flag-dropdown.open .selected-flag {
  border-radius: 12px !important;
}

.form-control {
  padding-left: 10px !important;
}

.react-tel-input .selected-flag:hover, .react-tel-input .selected-flag:focus {
  border-radius: 12px !important;
}
